.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  justify-content: space-between;
  //   background: red;
  padding: 4em 1em;
  width: 100%;
  max-width: 35rem;
  flex-wrap: wrap;

  @media screen and (min-width: 374px) {
    padding: 5em 2em;
  }

  @media screen and (min-width: $desktop-layout-breakpoint) {
    max-width: 64rem;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
}

.section-header {
  margin-bottom: 1em;
  @media screen and (min-width: $desktop-layout-breakpoint) {
    // outline: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 100%;
    //   width: 100%;
    padding: 1em 0;
    max-height: 26.66rem;
  }
}

.ratings {
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;

  @media screen and (min-width: $desktop-layout-breakpoint) {
    // width: 100%;
    // max-width: 50%;

    flex-wrap: wrap;
    flex-grow: 1;
    // flex-shrink: 1;
    flex-basis: 55%;
    //   display: inline-block;
    align-items: flex-end;
    justify-content: space-between;
    // margin-left: 1em;
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: $desktop-layout-breakpoint) {
    flex-direction: row;
    margin-top: 3.5em;
  }
}
