.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  justify-content: space-between;
  //   background: red;
  padding: 4em 1em;
  width: 100%;
  max-width: 35rem;
  flex-wrap: wrap;

  @media screen and (min-width: 374px) {
    padding: 5em 2em;
  }

  @media screen and (min-width: $desktop-layout-breakpoint) {
      max-width: 1000px;
  }
}

.ratings {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: $desktop-layout-breakpoint) {
      flex-direction: row;
      
  }
}
